:root{
    --white-cl: #FFF;
    --black-cl: #000000;
    --text-cl: #333333;
    --main-cl: #87A7FF;
    --pry-cl: #0f9ddafc;
    --pry-bg:#23242a;
    --bg-cl-dark:#1c1c1c;
    --bg-cl-light:#FFF;
    --bg-cl-perano:#B4B5F1;

}
     
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 0.417rem;
    background-color: #cedbff;
}

body::-webkit-scrollbar-thumb
{
    background-color: var(--main-cl);
}

.flex_box {
    display: flex;
}

.grid_box {
    display: grid;
}

.d_box {
    display: block;
}

.flex_wrap {
    flex-wrap: wrap;
}

.section{
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
}

.text_white{
    color: #FFF;
}

.text_underline{
    text-decoration: underline;
}

.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}

.text_uppercase{
    text-transform: uppercase;
}

.obj_cover{
    object-fit: cover;
}
.text_primary{
    color: var(--main-cl)
}

.al_center{
    align-items: center;
}

.img_center{
    margin-left: auto;
    margin-right: auto;
}

.img_wrap{
    overflow: hidden;
}

.img_wrap img {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
}

.ts_03{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ts_04{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.ts_05{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.flex_row{
    flex-direction: row !important;
}
.flex_col{
    flex-direction: column;
}
.al-center{
    align-items: center;
}
.al_start{
    align-items: flex-start;
}
.al_end{
    align-items: flex-end;
}
.al_baseline{
    align-items: baseline;
}
.jus_start{
    justify-content: flex-start;
}
.jus_end{
    justify-content: flex-end;
}
.jus_center{
    justify-content: center;
}
.jus_between{
    justify-content: space-between;
}
.grid_box{
    display: grid;
}
.grid_2{
    grid-template-columns: repeat(2, 1fr);
}
.grid_3{
    grid-template-columns: repeat(3, 1fr);
}
.grid_4{
    grid-template-columns: repeat(4, 1fr);
}

.m_auto{
    margin: auto;
}

.col_1{flex:0 0 auto;width:8.33333333%}
.col_2{flex:0 0 auto;width:16.66666667%}
.col_3{flex:0 0 auto;width:25%}
.col_4{flex:0 0 auto;width:33.33333333%}
.col_5{flex:0 0 auto;width:41.66666667%}
.col_6{flex:0 0 auto;width:50%}
.col_7{flex:0 0 auto;width:58.33333333%}
.col_8{flex:0 0 auto;width:66.66666667%}
.col_9{flex:0 0 auto;width:75%}
.col_10{flex:0 0 auto;width:83.33333333%}
.col_11{flex:0 0 auto;width:91.66666667%}
.col_12{flex:0 0 auto;width:100%}


.ts_03{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ts_04{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.ts_05{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.relative{
    position: relative !important;
}

.absolute{
    position: absolute !important;
}

.menu_drop {
    padding: .625rem 1.25rem;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat';
}

.menu_drop .drop_title {
    gap: .625rem;
}

.menu_drop .drop_list {
    position: absolute;
    visibility: hidden;
    transform: translateY(-0.625rem);
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: auto;
    background: #FFF;
    left: 0;
    margin-top: .625rem;
    transition: all 0.4s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu_drop.active .drop_list {
    pointer-events: all;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

/* .menu_drop:hover .drop_list {
    pointer-events: all;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
} */